@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-scrollbar {
        --sb-track-color: #232e33;
        --sb-thumb-color: #81a3c1;
        --sb-size: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: var(--sb-size);
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 10px;
        border: 3px solid #232e33;
    }

    @supports not selector(::-webkit-scrollbar) {
        .custom-scrollbar {
            scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        }
    }

    .rounded-right {
        border-radius: 0 1rem 1rem 0;
    }
    .rounded-top {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
}

.amap-logo {
    display: none!important;
    visibility: hidden!important;
}

.amap-copyright {
    display: none!important;
    visibility: hidden!important;
}